#my-info.off-canvas.position-left.reveal-for-large{"data-off-canvas" => "", "data-position" => "left"}
  .row.column
    %br/
    %h1.title= "Placeit"
    .menu
      %ul.nav
        %li
          = link_to 'Reservas', 'movie_reservations#index'
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Peliculas', 'movies#index'
        %li
          = link_to 'Usuarios', 'users#index'
